.repo
.vlt
.classpath
.project
.settings/
target/
.DS_Store
lib/
.vscode

#Intellij
.idea/
*.iml
generated/

#Netbeans
nb-configuration.xml
/bundle/nbproject/

#nodejs
ui.apps/**/node
ui.apps/**/node_modules

#solr
solr*/
solr*.*

aem-sample-vue-application/ui\.apps/vue-app/node/
